* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

img {
  max-width: 100%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 4rem;
  height: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header > * {
  padding: 0 1rem;
}

.App-header a {
  color: whitesmoke;
}
